//background color
$primaryColor:#FFFFFF;
$secondaryColor:#EA6464;

//text color
$primaryDarkText:#595959;
$primaryBrightText:#FFFFFF;
$hrColor:#E5E5E5;


//font size
$largeTitle:72px;
$fontSizeParagraph:18px;
$fontSizeNavPrimary:16px;
$fontSizeNavSecondary:14px;
$fontSizePills:10px;

//buttons
$buttonBorderRadius:5px;
$buttonbBoxShadow:0px 4px 4px rgba(0, 0, 0, 0.25);
