html, body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  background-color: #FFFFFF;
  color: #595959;
}

.topLine {
  border: 2px solid #EA6464;
  width: 100vw;
}

.btn {
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.btn:hover {
  color: #595959;
}

.vertical-long {
  border: none;
  border-left: 1px solid #E5E5E5;
  height: 150%;
  width: 1px;
  margin: 0px 30px;
  padding: 0px;
}

.vertical-short {
  border: none;
  border-left: 1px solid #E5E5E5;
  height: 100%;
  width: 1px;
  margin: 0px 15px;
  padding: 0px;
}

.navbar-brand {
  margin-top: 20px;
}

.leftNavBarContent {
  margin-top: 30px;
}

.telephone {
  margin-right: 10px;
  margin-top: 3px;
}

li a {
  color: #595959 !important;
  font-size: 16px;
  margin-left: 10px;
}

ul li:first-child {
  margin-left: 50px;
}

nav .container-fluid {
  padding-left: 160px;
}

.shoppingBag {
  position: absolute;
  bottom: 24%;
  right: 8%;
  font-size: 10px;
  margin-right: 40px;
  cursor: pointer;
}

.verification {
  position: absolute;
  bottom: 24%;
  right: 13%;
  font-size: 10px;
  margin-right: 40px;
  cursor: pointer;
}

.personIcon {
  position: absolute;
  bottom: 24%;
  right: 18%;
  font-size: 10px;
  margin-right: 40px;
  cursor: pointer;
}

button.promotion {
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #EA6464;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 30px 10px 30px;
  font-size: 16px;
}

button.checkout {
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #EA6464;
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 7px;
}

.helpContact {
  padding-top: 5px;
}

.helpContact div:first-child {
  color: #595959;
  font-size: 14px;
  line-height: 0.85;
}

.helpContact div:last-child {
  color: #EA6464;
  font-size: 24px;
  font-weight: bolder;
}

.carousel {
  margin-top: 60px;
}

.carousel-caption {
  width: 50%;
  text-align: start;
  color: #FFFFFF;
  z-index: 0;
}

.carousel-caption p {
  font-weight: normal;
  font-size: 18px;
  line-height: 2rem;
  margin: 0px;
}

.carousel-caption p:first-of-type {
  padding-top: 35px;
}

.carousel-caption p:last-child {
  padding-bottom: 40px;
}

.carousel-caption h1 {
  font-weight: normal;
  font-size: 72px;
  line-height: auto;
}

.searchBarContainer {
  position: absolute;
  top: -40px;
  z-index: 10;
  padding-left: 122px;
  padding-right: 200px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
  padding: 0px 0px;
  border: 5px solid #EA6464;
  border-left-style: none;
  border-radius: 0px 5px 5px 0px;
}

input {
  width: 100%;
  border: none;
  padding: 20px 0px 20px 35px;
}

input::-webkit-input-placeholder {
  color: #595959;
  font-size: 14px;
}

input:-ms-input-placeholder {
  color: #595959;
  font-size: 14px;
}

input::-ms-input-placeholder {
  color: #595959;
  font-size: 14px;
}

input::placeholder {
  color: #595959;
  font-size: 14px;
}

.search {
  background-image: url("../assets/searchIcon.svg");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  text-indent: 50px;
  background-position: 15px 10px;
  background-color: #FFFFFF;
}

.searchInputClick {
  background-image: url("../assets/searchIcon.svg");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  text-indent: 50px;
  background-position: 15px 10px;
  background-color: #FFFFFF;
}

.form button {
  border-radius: 5px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  background-color: #EA6464;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 5px 30px;
  margin: 15px 0px;
  position: absolute;
  right: 10px;
}

.searchIcon {
  display: none;
}

.dropdownButton {
  border-radius: 5px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  background-color: #EA6464;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  margin: 0px;
  border: none;
  padding-right: 50px;
  padding-left: 5px;
  opacity: 1.0;
}

.dropdownButton:hover {
  color: #FFFFFF;
}

.btn:disabled {
  opacity: 1.0;
}

.burgerDropdownButton {
  border-radius: 5px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  background-color: #EA6464;
  color: #FFFFFF;
  margin: 0px;
  border: none;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.burgerDropdownButton:hover {
  background-color: #595959;
}

.burgerDropdownButton img {
  border: 0.5px solid #FFFFFF;
  padding: 5px;
}

@media screen and (max-width: 1900px) {
  .searchBarContainer {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 1620px) {
  nav .container-fluid {
    padding-left: 10px;
  }
  .shoppingBag {
    right: 0%;
  }
  .verification {
    right: 5%;
  }
  .personIcon {
    right: 10%;
  }
  .searchBarContainer {
    padding-left: 80px;
    padding-right: 80px;
  }
  .form {
    width: 60%;
  }
  .carousel-caption p:first-of-type {
    padding-top: 15px;
  }
  .carousel-caption p:last-child {
    padding-bottom: 0px;
  }
  .carousel-caption {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  ul li:first-child, ul li a:first-child {
    margin-left: 0px;
  }
  .shoppingBag {
    right: -2%;
  }
  .verification {
    right: 3%;
  }
  .personIcon {
    right: 8%;
  }
  .carousel-caption h1 {
    font-size: 46px;
  }
}

@media screen and (max-width: 1199px) {
  .navbar-brand {
    margin-left: 5%;
  }
  .navbar-toggler {
    margin-top: 15px;
    margin-right: 5.5%;
    padding: 12px;
  }
  .nav-item {
    margin-bottom: 7px;
  }
  .helpContact {
    margin-bottom: 7px;
  }
  button.promotion {
    margin-left: 0px;
    margin-right: 0px;
  }
  hr {
    display: none;
  }
  .telephone {
    margin: 8px 0px;
  }
  .leftNavBarContent {
    margin-top: 0%;
  }
  ul li:first-child {
    margin-left: 0px;
  }
  .shoppingBag {
    bottom: 16%;
    right: 1.5%;
  }
  .verification {
    bottom: 36%;
    right: 1.5%;
  }
  .personIcon {
    bottom: 56%;
    right: 1.5%;
  }
  .carousel {
    margin-top: 80px;
  }
  .carousel-caption {
    padding-bottom: 0px;
    width: 75%;
  }
  .carousel-caption p:first-of-type {
    padding-top: 0px;
  }
}

@media screen and (max-width: 1065px) {
  .dropdownButton {
    display: none;
  }
  .form {
    width: 80%;
  }
  .carousel-caption {
    width: 80%;
    left: 6.5%;
    padding-left: 70px;
  }
  .carousel-caption h1 {
    font-size: 32px;
  }
  .carousel-caption p {
    margin-bottom: 0px;
    font-size: 14px;
  }
  .carousel-caption p:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 860px) {
  .searchBarContainer {
    padding-left: 80px;
    padding-right: 80px;
  }
  .carousel-caption h1 {
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 830px) {
  .search {
    padding: 5px 5px 5px 5px;
    background-image: none;
    text-indent: 0px;
  }
  .search::-webkit-input-placeholder {
    color: transparent;
  }
  .search:-ms-input-placeholder {
    color: transparent;
  }
  .search::-ms-input-placeholder {
    color: transparent;
  }
  .search::placeholder {
    color: transparent;
  }
  .searchBarContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .form button {
    font-size: 0px;
    background-color: transparent;
    padding: 10px 10px 12px 10px;
    margin: 0px 0px;
  }
  .searchIcon {
    display: block;
  }
  .searchButtonIcon {
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }
  .searchButtonIcon:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .carousel-caption h1:last-of-type {
    margin-bottom: 0px;
  }
  .carousel-caption p:last-child {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .carousel-caption {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .carousel-caption p:first-of-type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0px;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 470px) {
  .navbar-toggler {
    margin-right: 10%;
  }
  .leftNavBarContent.justify-content-center {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
    margin-left: 22px;
  }
  .leftNavBarContent.text-center {
    text-align: start !important;
  }
  .form {
    width: 70%;
  }
  .carousel-caption p {
    display: none;
  }
  .carousel-caption {
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: center;
  }
  .carousel-caption h1:first-child {
    font-size: 20px;
    padding-left: 25px;
  }
  .carousel-caption h1:last-of-type {
    font-size: 16px;
    padding-bottom: 0px;
    padding-left: 25px;
  }
}
/*# sourceMappingURL=style.css.map */